language: go

go:
  - master

env:
 - MONGO="mongodb://zamedic:@6TqS6FJEjk3@cluster0-shard-00-00-ous9j.mongodb.net:27017,cluster0-shard-00-01-ous9j.mongodb.net:27017,cluster0-shard-00-02-ous9j.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"

